@import './base.css';

:root {
  --primary-item-color--orange: 240, 153, 5;
  --primary-item-color: rgb(var(--primary-item-color--orange));
  --primary-item-selected: rgb(226, 23, 117);

  --primary-title: var(--primary-item-selected);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.orange {
  text-decoration: none;
  color: var(--primary-item-color);
  transition: 0.4s;
  padding: 3px;
}

@media all {
  a {
    color: var(--primary-item-color);
  }
}
@media (hover: hover) {
  a:hover {
    background-color: rgb(226, 29, 114, 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: block;
    padding: 0 2rem;
  }
}
