@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.orange {
  text-decoration: none;
  color: rgb(240, 153, 5);
  transition: 0.4s;
  padding: 3px;
}

@media all {
  a {
    color: rgb(240, 153, 5);
  }
}
@media (hover: hover) {
  a:hover {
    background-color: rgb(226, 29, 114, 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: block;
    padding: 0 2rem;
  }

  .users, .login, .logout, .signup, .messages, .friend-requests {
    min-height: 80vh;
    display: flex;
  }
}
